<section class="nb-footer">
    <div class="container">
        <div class="row">
            <!-- Birinci Kisim -->
            <div class="col-md-4 col-sm-4">
                <div class="footer-single">

                    <div class="dummy-logo">
                        <img src="~/Content/Images/logo.png" class="img-responsive dummy-logo" alt="Logo">
                    </div>
                    <p class="footer-paragraf">Bu website proje amaçlı Tolgahan Çepel tarafından geliştirilmiştir. Responsive tasarımda, veritabanına bağlı ve dinamik bir sitedir.</p>
                    <a href="/Home/Hakkimizda" class="btn btn-primary btn-sm">@cet.Resources.lang.DahaFazla →<div class="ripple-container"></div></a>
                </div>
            </div>

            <!-- Ikinci Kisim -->
            <div class="col-md-4 col-sm-4">
                <div class="footer-single useful-links">
                    <div class="footer-title"><h2>@cet.Resources.lang.Menu</h2></div>
                    <ul class="list-unstyled">
                        <li><a href="/Home/Index">@cet.Resources.lang.AnaSayfa<i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="/Home/Blog">@cet.Resources.lang.Blog<i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="/Home/Etkinlikler">@cet.Resources.lang.Etkinlikler<i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="/Home/Hakkimizda">@cet.Resources.lang.Hakkimizda<i class="fa fa-angle-right pull-right"></i></a></li>
                        <li><a href="/Home/Iletisim">@cet.Resources.lang.Iletisim<i class="fa fa-angle-right pull-right"></i></a></li>
                    </ul>
                </div>
            </div>

            <!-- Ucuncu Kisim -->
            <div class="col-md-4 col-sm-4">
                <div class="footer-single">
                    <div class="footer-title"><h2>@cet.Resources.lang.IletisimBilgileri</h2></div>
                    <address>
                        Sakarya Üniversitesi Esentepe Kampüsü Kemalpaşa Mahallesi Üniversite Caddesi 54050<br>
                        Serdivan, Sakarya <br>
                        <i class="fa fa-phone"></i>  987 654 3210 <br>
                        <i class="fa fa-fax"></i> 012 123 2345<br>
                        <i class="fa fa-envelope"></i> info@example.com<br>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>